{% extends 'core/base.html' %}{% block content %}<div class="text-center mt-5">
<h1>Clasificador IA- Baby Safe</h1><p>{{ app_info }}</p><div class="card mx-auto mt-4" style="max-width:500px">
<div class="card-header bg-dark text-white">Autores</div><ul class="list-group list-group-flush">
{% for a in autores %}<li class="list-group-item">{{ a }}</li>{% endfor %}</ul></div>
<div class="mt-5"><a href="{% url 'clasificacion' %}" class="btn btn-primary btn-lg">Ir al Chat</a></div></div>{% endblock %}